# Basic of for loops

Loops allow parts off code to bbe repeated some number of times, such as using a section off code to process each item in a list.

In [1]:
indonesian_cities = ['Medan','Pontianak','Yogyakarta','Sorong']

In [3]:
print (indonesian_cities[0])

Medan

In [4]:
print (indonesian_cities[1])

Pontianak

In [6]:
print (indonesian_cities[2])

Yogyakarta

In [11]:
## Use 'for' to extract all the city contained in variable
for city in indonesian_cities:
    print(city)

Medan
Pontianak
Yogyakarta
Sorong

## For loop format

for loops in Python have the general form below
    for variable in collection:
        do things with variable

In [13]:
indonesian_cities = ['Medan','Pontianak','Yogyakarta','Sorong']
java_cities = ['Samarinda','Palembang']

In [20]:
for indonesia in indonesian_cities:
    print (indonesia,'adalah Kota indonesia')

Medan adalah Kota indonesia
Pontianak adalah Kota indonesia
Yogyakarta adalah Kota indonesia
Sorong adalah Kota indonesia

In [25]:
## Print out the last object inside list
print (f'After the loop has completed, Indonesia citis is {indonesia}.')

After the loop has completed, Indonesia citis is Sorong.

## for loops and the range() function

A loop can be used to iterate over any collection of values in Python. So far we have considered only lists, but we could write a loop that performs a calculation a specified number of times by using the range(). Let's consider an example where we use a for loop with value as the loop variable and range (5) as the colleciton. What happens when you print value at each iteration?
This is important for producing list of number

In [27]:
for value in range (5):
    print (value)

0
1
2
3
4

In [34]:
#help(range)
for i in range (2,9,3):
    print(i)

2
5
8

## Looping over the length of lists using index values

In [37]:
numbers = [5,6,7,8]
for i in range (len(numbers)):
    print (f'Before:i is {i} and number [i] is {numbers[i]}.')
    numbers [i] = numbers[i]+i
    print (f'After:i is {i} and number [i] is {numbers[i]}.')
    print ('')

Before:i is 0 and number [i] is 5.
After:i is 0 and number [i] is 5.

Before:i is 1 and number [i] is 6.
After:i is 1 and number [i] is 7.

Before:i is 2 and number [i] is 7.
After:i is 2 and number [i] is 9.

Before:i is 3 and number [i] is 8.
After:i is 3 and number [i] is 11.

In [39]:
print (numbers)

[5, 7, 9, 11]

In [40]:
cities = ['Palembang','Sorong','Makassar','Pontianak']
island = ['Sumatera', 'Papua', 'Sulawesi', 'Kalimantan']

In [44]:
for i in range (len(cities)):
    print (f'{cities[i]} is the city in {island[i]}')

Palembang is the city in Sumatera
Sorong is the city in Papua
Makassar is the city in Sulawesi
Pontianak is the city in Kalimantan

In [45]:
odd_numbers = [1, 3, 5, 7, 9]
even_numbers = [10, 4, 6, 8, 2]

In [53]:
for i in range (len(odd_numbers)):
    print (odd_numbers[i]+even_numbers[i])

11
7
11
15
11